@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('./fonts/PFDinDisplayPro-ExtraThin.eot?#iefix') format('embedded-opentype'),
       url('./fonts/PFDinDisplayPro-ExtraThin.woff') format('woff'),
       url('./fonts/PFDinDisplayPro-ExtraThin.ttf')  format('truetype'),
       url('./fonts/PFDinDisplayPro-ExtraThin.svg#PFDinDisplayPro-ExtraThin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('./fonts/PFDinDisplayPro-Thin.eot?#iefix') format('embedded-opentype'),
       url('./fonts/PFDinDisplayPro-Thin.woff') format('woff'),
       url('./fonts/PFDinDisplayPro-Thin.ttf')  format('truetype'),
       url('./fonts/PFDinDisplayPro-Thin.svg#PFDinDisplayPro-Thin') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('./fonts/PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
       url('./fonts/PFDinDisplayPro-Light.woff') format('woff'),
       url('./fonts/PFDinDisplayPro-Light.ttf')  format('truetype'),
       url('./fonts/PFDinDisplayPro-Light.svg#PFDinDisplayPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('./fonts/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/PFDinDisplayPro-Regular.woff') format('woff'),
       url('./fonts/PFDinDisplayPro-Regular.ttf')  format('truetype'),
       url('./fonts/PFDinDisplayPro-Regular.svg#PFDinDisplayPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('./fonts/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/PFDinDisplayPro-Medium.woff') format('woff'),
       url('./fonts/PFDinDisplayPro-Medium.ttf')  format('truetype'),
       url('./fonts/PFDinDisplayPro-Medium.svg#PFDinDisplayPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('./fonts/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/PFDinDisplayPro-Bold.woff') format('woff'),
       url('./fonts/PFDinDisplayPro-Bold.ttf')  format('truetype'),
       url('./fonts/PFDinDisplayPro-Bold.svg#PFDinDisplayPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
