#section08 {
  background: url(img/section08bg.jpg) top center no-repeat;
  background-size: cover;
  height: 730px;

  @include breakpoint($tablet-portrait) {
    height: auto;
  }

  input {
    border: 1px solid red;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  textarea {
    width: 100%;
    height: 60px;
  }

  .submit {
    clear: both;
    display: block;
    height: 104px;
    width: 346px;
    font-weight: $font-light;
    text-align: center;
    margin: 0 auto;
    background-color: $color-green-base;
    border: none;
    //@include box-shadow(0 $color-white);
    @include box-shadow(0 4px 40px 0px $color-green-base);
    @include transition(all 0.3s ease);

    &:hover {
      //@include box-shadow(0 4px 40px 0px $color-green-base);
      @include box-shadow(0 0 46px -1px rgba(35,152,130,0));
    }

    &:focus {
      border: none;
    }

    @include breakpoint($tablet-portrait) {
      height: 60px;
      width: 200px;
      font-size: 24px;
    }
  }


  .first-part-contact {
    width: 360px;
    float: left;

    @include breakpoint($wrapper) {
      width: 44%;
    }

    @include breakpoint($tablet-portrait) {
      width: 90%;
      float: none;
      margin: 0 auto;
    }

    @include breakpoint($mobile) {
      width: 100%;
    }

    input {
      width: 100%;
      margin-bottom: 34px;

      @include breakpoint($tablet-portrait) {
        margin-bottom: 25px;
        font-size: 24px;
      }

      @include breakpoint($mobile) {
        width: 100%;
        //margin-bottom: 25px;
      }
    }
  }

  .second-part-contact {
    width: 914px;
    float: right;
    //margin-bottom: 36px;

    @include breakpoint($wrapper) {
      width: 44%;
    }

    @include breakpoint($tablet-portrait) {
      width: 90%;
      float: none;
      margin: 0 auto 40px auto;
    }

    @include breakpoint($mobile) {
      width: 100%;
    }

    input {
      width: 100%;
      margin-bottom: 34px;

      @include breakpoint($tablet-portrait) {
        margin-bottom: 25px;
        font-size: 24px;
      }

      @include breakpoint($mobile) {
        width: 100%;
        //margin-bottom: 10px;
      }
    }
  }
}
